@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
  font-family: 'Rubik';
  margin: 0;
  padding: 0;
}
li{
  font-family: 'Rubik';
}

.navbar{
  z-index: 100;
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 7vh;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.navbar-list{
  display: flex;
  list-style: none;
  margin: 0;
}
.navbar-list a{
  outline: none;
  text-decoration: none;
  color: black;
  font-family: 'Rubik';
}

.navbar-item{
  margin-left: 1rem;
  padding-top: 0.3rem;
}
.navbar-item:any-link{
  border-bottom: 3px solid #6EBE48;
}

.navbar-title{
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  margin-top: 0.5rem;
}

.bigCard{
  max-width: 70vw;
  width: 1103px;
  max-height: 727px;
  height: 80vh;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  border-radius: 10%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.40);
  
}
.bigCard-left{
  height: 100%;
  width: 60%;
  max-width: 662px;
  max-height: 727px;
}


.bigCard-right{
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.bigCard-right h1{
  margin-top: 5vh;
  margin-left: 1rem;
}
.bigCard-right p{

  margin-left: 2rem;
}
.bigCard-left img{
  height: 100%;
  background-color: white;
  max-height: 727px;
  width: 100%;
  border-radius: 20px 00px 0px 20px;
  position: relative;
}

.corp{
  margin-top: 5vh;
  height: 85vh;
  width: 100vw;
}
.produits{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.smalCard{
  max-width: 350px;
  max-height: 350px;
  width: 80vw;
  height: 80vh;
  background-color: #6EBE48;
  margin:20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.smalCard-img{
  height: 80%;
  width: 350px;
  border-radius: 5px;
}

.smalCard_bootom{
  display: flex;
  justify-content: space-between;
  margin:0 2rem 0 2rem;
}

.smalCard_bootom h4{
  font-family: 'Rubik';
  text-transform: capitalize;
}
.corp-menu{
  width: 100vw;
  height: 93vh;
  margin-top: 7vh;

  text-align: center;

}
.corp-menu nav{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.corp-menu li{
  outline: none;
  list-style: none;
  margin: 10px;
  padding: 5px;
  
}

.actif{
  border-bottom: 3px solid #6EBE48;
}

.corp-menu a{
  text-decoration: none;
  outline: none;
  color: black;
  font-size: 54px;
}


@media only screen and (max-width: 990px) {
    .bigCard{
      display: block;
      width: 70vw;
    }
    .bigCard img{
      height: 50vh;
      width: 70vw;
      border-radius: 5px;
    }

    .bigCard-right{
      display: flex;
      flex-direction: row;
    }

    .bigCard-left{
      height: 40vh;
    }

  }